button{
    border: 1px solid rgb(90, 9, 66);
    border-radius: 30%;
    background-color: violet;
    margin: 6px;
    margin-top: 20px;
    padding: 5px;
    height: 6%;
    width: 10%;
}
button:hover{
    background-color: aquamarine;
}
body {
    background-color: black;
}
.bar{
    color: white;
    text-decoration: solid;
    width: 100%;
    margin:auto;
    text-align: center;
    background-image: url(Learn-images/gamebackground.jpeg);
    padding-top: 15px;
    opacity: 70%;
    
}
.work {
    width: 60%;
    margin:auto;
    text-align: center;
    background-color: rgb(175, 163, 148);
    opacity: 80%;
}

h2{
    border-bottom: 1px solid rgb(49, 49, 49);
    border-width: 10%;
    margin: 0px;
    margin-top: 1px;
    padding: 18px;
    padding-bottom: 2px;
}